{% for category in page.categories %}
	{% if category contains "has-devlog" %}
		{% assign devlog_name = page.devlog %}
			<h3>
				Devlogs<a href="/{{ devlog_name }}-devlog.rss" title="The RSS feed for {{ devlog_name }} devlogs" class="rss"><i class="fa fa-rss" aria-hidden="true"></i><span class="assist">RSS</span></a>
			</h3>
			<ul class="devlogs">
				{% for log in site.categories.devlogs %}
					{% if log.tags contains page.devlog %}
						{% assign d = log.date | date: "%-d"  %}
						<li class="devlogs__log"><a href="{{log.url}}" class="devlogs__link">
						{{ log.date | date: "%Y/%m/%d" }} - {{log.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
	{% endif %}
{% endfor %}
