<head>
    <meta charset="utf-8">
    <!-- seo -->
    {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}">
    {% endif %}
    <title>Stephen Pearce: {{page.title}}</title>
    <meta name="author" content="Stephen Pearce">
    <meta name="description" content="{{page.og_description}}">
    <meta name="keywords" content="Stephen Pearce, stevepdp, game developer, game development, devlog, dev blog, development blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Stephen Pearce: All" href="/all.rss">
    <link rel="alternate" type="application/rss+xml" title="Stephen Pearce: Blog" href="/blog.rss">
    <link rel="alternate" type="application/rss+xml" title="Stephen Pearce: Games" href="/games.rss">
    {% include icons.html %}
    <!-- pre-connects -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <!-- main css -->
    <style>
    {% include css/main.css %}
    {% include css/print.css %}
    </style>
    <!-- scripts -->
    <script src="/assets/js/main.js" defer></script>
    <!-- opengraph -->
    <meta property="og:site_name" content="Stephen Pearce">
    <meta property="og:url" content="https://stevepdp.dev{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.og_title}}">
    <meta property="og:description" content="{{page.og_description}}">
    <meta property="og:image" content="{{page.og_image}}">
</head>