<div class="preview">
    <video preload="none" class="preview__trailer" alt="Multiplanetary gameplay sample" controls muted autoplay loop playsinline>
        <source src="/assets/video/{{page.video}}" type="video/mp4">
        Your browser does not appear to support mp4 video.
    </video>
    <div class="preview__buttons"><a href="https://stevepdp.itch.io/{{page.itch_url}}" rel="noopener" target="_blank" aria-label="button"><img src="/assets/img/brands/itch-io-colour.svg" height="48" width="156" alt="Available on itch.io"><span class="assist">Play this game on Itch.io</span></a></div>
</div>