<div class="sidebar">
    <a href="/" title="Return to the homepage" class="avatar">
        <picture>
            <source srcset="/assets/img/stevepdp_130x.webp" type="image/webp">
            <img src="/assets/img/stevepdp_130x.png" height="130" width="130" alt="A picture of Stephen Pearce">
        </picture>
    </a>
    <h1 class="headline">
        <a href="/" title="Return to the homepage">Stephen Pearce<span class="sr-only">: </span><span class="headline__sub">Gameplay Programmer</span></a>
    </h1>
    <!-- nav -->
    <nav class="menu">
        <!-- main menu -->
        <div class="menu__inner">
            <header>
                <h2 class="menu__header"><span class="sr-only">Main</span> Menu</h2>
            </header>
            <ul class="menu__list">
                <li><a href="/games.html">Games</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
            <ul class="icons">
                <li><a href="/" rel="me nofollow noopener noreferrer" title="Back to the homepage"><i class="fa fa-home" aria-hidden="true"></i><span class="sr-only">Home</span></a></li>
                <li><a href="https://www.github.com/stevepdp" rel="me nofollow noopener noreferrer" title="Stephen Pearce on GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/in/stevepdp/" rel="me nofollow noopener noreferrer" title="Stephen Pearce on LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="https://peoplemaking.games/@stevepdp" rel="me nofollow noopener noreferrer" title="Stephen Pearce on Mastodon" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i><span class="sr-only">Mastodon</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- floating elements -->
    <button class="burger js-burger" title="Mobile menu open/close"></button>
</div>
