<div class="sidebar center">
    <a href="/" title="Return to the homepage" class="avatar">
        <picture>
            <img src="/assets/img/stevepdp_130x.png" height="128" width="128" alt="A picture of Stephen Pearce">
        </picture>
    </a>
    <h1 class="headline">
        <a href="/" title="Return to the homepage">Stephen Pearce<span class="sr-only">: </span><span class="headline__sub">Game Programmer</span></a>
    </h1>
    <ul class="icons">
        <li><a href="https://stevepdp.itch.io/" rel="me noopener noreferrer" title="Stephen Pearce on Itch.io" target="_blank"><i class="fab fa-itch-io" aria-hidden="true"></i><span class="sr-only">Itch.io</span></a></li>
        <li><a href="https://www.github.com/stevepdp" rel="me noopener noreferrer" title="Stephen Pearce on Github" target="_blank"><i class="fab fa-github" aria-hidden="true"></i><span class="sr-only">Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/stevepdp" rel="me noopener noreferrer" title="Stephen Pearce on LinkedIn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span></a></li>
        <li><a href="https://mstdn.social/@stevepdp" rel="me noopener noreferrer" title="Stephen Pearce on Mastodon" target="_blank"><i class="fab fa-mastodon" aria-hidden="true"></i><span class="sr-only">Mastodon</span></a></li>
    </ul>
    <!-- nav -->
    <nav class="menu">
        <!-- main menu -->
        <div class="menu__inner">
            <header>
                <h2 class="menu__header"><span class="sr-only">Main</span> Menu</h2>
            </header>
            <ul class="menu__list">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/games.html">Games</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
        </div>
    </nav>
    <!-- floating elements -->
    <button class="burger js-burger" title="Mobile menu open/close"></button>
</div>
