---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body class="{{page.type | downcase }}">
        <!-- wrap -->
        <div class="wrap">
            <!-- main -->
            <div class="content">
                <!-- sidebar -->
                {% include sidebar.html %}

                <!-- content -->
                <div class="content__parent">
                    <main class="content__wrap">
                        <h2>Blog</h2>
                        {{content}}
                    </main>
                </div>
            </div>
        </div>
        {% include fork-awesome.html %}
    </body>
</html>
