<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body class="{{page.type | downcase }}">
        <!-- wrap -->
        <div class="wrap">
            <!-- main -->
            <div class="content">
                <!-- sidebar -->
                {% include sidebar.html %}

                <!-- content -->
                <div class="content__parent">
                    <main class="content__wrap">
                        <article itemscope="" itemtype="http://schema.org/BlogPosting">
                            <header>
                                <h2 itemprop="headline">{{page.title}}</h2>
                            </header>
                            {{content}}
                            <footer class="footer">
                                {% include cta.html %}
                                <span class="post-date">
                                Posted: 
                                {% assign d = page.date | date: "%-d"  %}
                                {{ page.date | date: "%B" }}
                                {% case d %}
                                    {% when '1' or '21' or '31' %}{{ d }}st
                                    {% when '2' or '22' %}{{ d }}nd
                                    {% when '3' or '23' %}{{ d }}rd
                                    {% else %}{{ d }}th
                                    {% endcase %},
                                {{ page.date | date: "%Y" }}.
                                </span>
                            </footer>
                        </article>
                    </main>
                </div>
            </div>
        </div>
        {% include fork-awesome.html %}
    </body>
</html>
