---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body class="{{page.type | downcase }}">
        <!-- wrap -->
        <div class="wrap">
            <!-- main -->
            <div class="content">
                <!-- sidebar -->
                {% include sidebar.html %}

                <!-- content -->
                <div class="content__parent">
                    <main class="content__wrap">
                        <article>
                            <header>
                                <h2>{{page.title}}</h2>
                            </header>
                            {% include preview.html %}
                            {{content}}
                            {% include devlog-posts.html %}
                            <footer class="footer">
                                {% unless page.type contains "single-game" %}
                                    {% include post-date.html %}
                                {% endunless %}
                            </footer>
                        </article>
                        {% include cta.html %}
                    </main>
                </div>
            </div>
        </div>
        {% include fork-awesome.html %}
    </body>
</html>
