---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body class="{{page.type | downcase }}">
        <!-- wrap -->
        <div class="wrap">
            <!-- main -->
            <div class="content">
                <!-- sidebar -->
                {% include sidebar.html %}

                <!-- content -->
                <div class="content__parent">
                    <main class="content__wrap">
                        <article itemscope="" itemtype="http://schema.org/BlogPosting">
                            <header>
                                <h2 itemprop="headline">{{page.title}}</h2>
                            </header>
                            {{content}}
                            <footer class="footer">
                                {% include cta.html %}
                                {% include post-date.html %}
                            </footer>
                        </article>
                    </main>
                </div>
            </div>
        </div>
        {% include fork-awesome.html %}
    </body>
</html>
